@model INTELECTAH.ConsultaFacil.ViewModel.Implementations.ConsultaViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Editar";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>@ViewBag.Title</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("Consulta Fácil", "Index", "Home")
            </li>
            <li>
                @Html.ActionLink("Consulta", "Index", "Consulta")
            </li>
            <li class="active">
                <strong>@ViewBag.Title</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>

<form asp-action="Edit" id="__AjaxAntiForgeryFormConsulta">
    <div class="wrapper wrapper-content animated fadeInDown">
        <div class="panel panel-primary">
            @Html.HiddenFor(model => model.ConsultaId)
            @Html.HiddenFor(model => model.Protocolo)
            <partial name="~/Views/Consulta/_CreateEditPartial.cshtml" , model="Model" />
            <div class="panel-footer panel-info">
                <div class="row">
                    <div class="col-md-offset-2 col-md-10">
                        <a asp-action="Index" class="btn btn-white">Voltar para lista</a>
                        <button type="submit" class="ladda-button btn btn-primary" data-style="zoom-in">Salvar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section ScriptPage{
    <script src="~/js/custom/filterExame.js"></script>
}