@model INTELECTAH.ConsultaFacil.ViewModel.Implementations.TipoExameViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Editar";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>@ViewBag.Title</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("Consulta Fácil", "Index", "Home")
            </li>
            <li>
                @Html.ActionLink("Tipo Exame", "Index", "TipoExame")
            </li>
            <li class="active">
                <strong>@ViewBag.Title</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>

<form asp-action="Edit">
    <div class="wrapper wrapper-content animated fadeInDown">
        <div class="panel panel-primary">
            @Html.HiddenFor(m => m.TipoExameId)
            <partial name="~/Views/TipoExame/_CreateEditPartial.cshtml" , model="Model" />
            <div class="panel-footer panel-info">
                <div class="row">
                    <div class="col-md-offset-2 col-md-10">
                        <a asp-action="Index" class="btn btn-white">Voltar para lista</a>
                        <input type="submit" value="Salvar" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>